.color-picker {
  &.short {
    margin: 0;
    width: auto;
    position: relative;

    --range-color-bleak: #ffffff14;
    transition: filter 0.6s ease;
    filter: none;

    &.disabled {
      filter: grayscale(90%);
      z-index: -1;
    }

    .color-picks {
      padding: 0 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 48px;
      background-color: var(--surface-color);
    }

    & .color-pick {
      &.active {
        border: 10px solid var(--range-color-bleak);
      }

      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 10px solid var(--surface-color);
      background-clip: padding-box;
    }

    & .color-pick:last-child {
      background-size: 100% 100%;
      background-position: 0px 0px, 0px 0px;
      background-image: radial-gradient(75% 75% at 50% 50%, #FFFFFFFF 3%, #073AFF00 31%), conic-gradient(from 0deg at 50% 50%, #FF0000FF 0%, #FFFE00FF 20%, #00FF27FF 39%, #00FFFFFF 50%, #0089FFFF 70%, #FB00FFFF 82%, #FF0707FF 100%);
      position: relative;
      z-index: 1;
    }

    & .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & .box-and-inputs {
      display: flex;
      width: 100%;
      padding: 0 1.8rem;
      justify-content: space-between;
      height: 0;
      overflow: hidden;

      &.active {
        height: 152px;
        padding: 1rem 1.8rem;
      }
    }

    & .color-picker-box {
      height: 120px;
      width: auto;
    }

    & .color-picker-dragger {
      height: 11px;
    }

    & .color-picker-sliders {
      display: flex;
      justify-content: space-between;
      padding-left: 1.8rem;
      padding-right: 1.2rem;
      height: 42px;
      transform-origin: center;
      position: absolute;
      top: 4px;
      opacity: 0;
      transform: scaleY(0);

      height: 42px;
      transform-origin: center;
      position: absolute;
      top: -12px;
      opacity: 0;
      transform: scaleY(0);
      
      &.active {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    & .color-picker-color-slider {
      width: 302px;
    }

    & .input-field {
      width: 128px;
    }
  }
}
