  .popup-media-editor {
  
  $parent: ".popup";
  --media-editor-bg-color: #000000;
  --sidebar-width: 400px;

  padding: 0;
  #{$parent} {

    &-header {
      margin: 0;
    }

    &-container {
      border-radius: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: var(--media-editor-bg-color);
      display: flex;
      flex-direction: row;
    }
  }

  & .sidebar-slider {
    $parent: ".sidebar";
    
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    height: 100%;

    #{$parent} {


      &-header {
        position: static;
      }

    }
  }

  & .menu-horizontal-div-item {
    font-size: 1.5rem;  


    &:first-child,  &:last-child {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }

  }

  & .btn-circle.btn-corner {
    transform: translateZ(0);
  }
  
}

.editor {

  
  &-tab {
    
    --left-padding: 1.5rem;
    --top-padding: 1.5rem;
    
    &.filter {
      
      padding: var(--top-padding) var(--left-padding);
      display: flex;
      flex-direction: column;
      gap: 2rem;
      // XENA TODO
      // Fix thumb, 
      // line width,
      // number colour when active,
      // font-weight,
      // and some of the paddings
    }

    &.crop {

      padding: 0 0.5rem;

      & .named-section-title {
        padding: 0 0 0.5rem 1.1rem;
      }

      & .row {
        width: 100%;

        &.rotated .tgico {
          transform: rotate(90deg) translateX(-50%);
        }
      }

      & .partials-container {
        display: flex;
        flex-wrap: wrap;
        
        & .row {
          width: 50%;
        }
      }
    
    }

    & .range-setting-selector {
      padding: 0;

      &:last-child {
        padding-bottom: 5.5rem;
      }

      &-details, &-name {
        font-weight: 700;
      }

      &-details {
        margin-bottom: 1.5rem;  
      }
    
      & .non-zero {
        color: var(--primary-color)
      }

      & .progress-line {
        --height: 4px;
        --thumb-size: 20px;
      }
    }
  }
}

.named-section {

  padding: var(--top-padding) 0;

  &-title {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: var(--font-weight-bold);
  }
}




.image-container {
  flex: 1;
}


