.popup-media-editor {
  $parent: ".popup";
  --media-editor-bg-color: #000000;
  --sidebar-width: 400px;
  padding: 0;

  #{$parent} {
    &-header {
      margin: 0;
    }

    &-container {
      border-radius: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: var(--media-editor-bg-color);
      display: flex;
      flex-direction: row;

      & .image-container {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        & .canvas {
          max-height: 90%; 
          max-width: 95%; 
          flex-shrink: 1; 
          flex-basis: 0; 
          flex: 1 0 70%; 
          display: flex; 
          align-items: center; 
          justify-content: center;
          padding: 2%;
        }

        & .canvas > canvas {
          display: block; 
          max-width: 100%; 
          max-height: 100%; 
          align-self: center; 
         
        }
        
        .crop-ruler-container {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0px;
          right: 0px;
        }
        
        .crop-ruler {

          display: flex;
          flex-direction: row;
          position: relative;
          width: 80%;
          margin: 0 auto;
          align-items: center;

          & .rotateBtn, & .flipBtn {
            font-size: 24px;
            color: #444444;
            height: fit-content;
          }
        }

        .rotation-container {
          position: relative;
          width: 100%;
          flex: 1;
          height: 100px;
        }
        
        .slider-wrapper {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%; 
          overflow: visible;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }
        
        .rotation-slider {
          position: relative;
          width: 400%; 
          height: 58px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        
        .rotation-handle {
          position: absolute;
          top: 52px;
          left: 50%;
          transform: translateX(-50%);
          width: 12px;
          height: 8px;
          background-color: white;
          clip-path: polygon(4% 85%, 3% 94%, 11% 98%, 84% 98%, 93% 94%, 92% 83%, 59% 26%, 51% 22%, 41% 26%);
        }
        
        .rotation-dot {
          position: absolute;
          top: 51px; 
          width: 1px;
          height: 1px;
          background-color: rgb(112, 112, 112);
        }
        
        .rotation-label {
          position: absolute;
          top: 0; 
          font-size: 12px;
          transform: translateX(-50%);
          color: rgb(112, 112, 112);

          &.active {
            font-size: 16px ;
            color: white;
          }
        }

      }
    }
  }

  & .sidebar-slider {
    $parent: ".sidebar";
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    height: 100%;

    #{$parent} {
      &-header {
        position: static;
      }
    }
  }

  & .menu-horizontal-div-item {
    font-size: 1.5rem;

    &:first-child,
    &:last-child {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
  }

  & .btn-circle.btn-corner {
    transform: translateZ(0);
  }
}

.editor {
  &-tab {

    &.filter {
      padding: 1.5rem 1.8rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &.crop {
      & .partials-container {
        display: flex;
        flex-wrap: wrap;

        & .row {
          width: 50%;
        }
      }


      




    }

    &.text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: calc(1.5rem - 0.5rem);
      --range-color: #ffffff;

      .named-section {
        padding-top: 1rem;
      }

      & .range-setting-selector {
        &-name {
          color: var(--secondary-text-color);
        }
        padding: 0 1.8rem;

        & .progress-line {
          --color: var(--range-color);

          & .progress-line__filled {
            background-color: var(--range-color);
          }
        }
      }

      & .tools-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 3rem;
        padding: 0 0.7rem;

        & .tools {
          display: flex;

          & .tool {
            height: 48px;
            width: 54px;
            border-radius: 10px !important;
          }
        }
      }

      & .roboto {
        font-family: Roboto;
        font-weight: 800;
      }

      & .typewriter {
        font-family: Typewriter;
      }

      & .avenirNext {
        font-family: "Avenir Next";
      }

      & .courierNew {
        font-family: 'Courier New Serif', Courier, monospace;
        font-weight: 700;
      }

      & .noteworthy {
        font-family: "Noteworthy";

        & .row-title {
          line-height: normal;
        }
      }

      & .georgia {
        font-family: "Georgia";
      }

      & .papyrus {
        font-family: 'Papyrus';
      }

      & .snell-roundhand .row-title {
        font-family: "Snell Roundhand";
        font-size: 19px;
        letter-spacing: -0.5px;
      }
    }

    &.text:last-child,
    &.filter:last-child {
      padding-bottom: 5.5rem;
    }

    &.brush {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 1rem;
      
      --range-color: #ffffff;
      --pen-color: #FE4438;
      --arrow-color: #FFD60A; 
      --mark-color: #FF8901;
      --neon-color: #62E5E0;

      & .range-setting-selector {

        &-name {
          color: var(--secondary-text-color);
        }
        padding: 0 1.8rem;

        & .progress-line {
          --color: var(--range-color);

          & .progress-line__filled {
            background-color: var(--range-color);
          }
        }
      }

      & .pen {
        fill: var(--pen-color);
      }
      
      & .arrow {
        fill: var(--arrow-color);
        stop-color: var(--arrow-color);
      }

      & .mark {
        fill: var(--mark-color);
      }

      & .neon {
        fill: var(--neon-color);
      }

      & .brush-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        justify-content: flex-start;
        height: 3rem;
        
        & > svg {
          height: 20px;
          width: 120px;
          transition: transform 0.6s ease;
          transform: translateX(-50px);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10% 34%, rgb(0, 0, 0) 53%);
        }

        & .row-title {
          transform: translateX(-50px);
          transition: transform 0.6s ease;
        }

        &.tool-selected {
          & > svg {
            transform: translateX(-10px);
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%);
          }
        
          & .row-title {
            transform: translateX(-10px);
          }
        }
      }
    }

    &.emoji {
      height: 100%;

      & .menu-wrapper {
        border-bottom: none;
      }
      
      & .menu-horizontal-div {
        padding: 1.1rem;
        border-bottom: none;
      }

      & .emoticons-search-container {
        padding: 0.1rem;
        border-radius: 2rem;
      }
      
      & .emoticons-categories-container {
      
        padding: 1.7rem;
      

        & .category-title {
          text-align: left;
          padding-left: 0;
        }
      }

      & .super-stickers {
        row-gap: 10px;
      }
    }

    & .row {
      width: 100%;

      &.rotated .tgico {
        transform: rotate(90deg) translateX(-50%);
      }
    }

    & .range-setting-selector {
      padding: 0;

      &-details,
      &-name {
        font-weight: 700;
      }

      &-details {
        margin-bottom: 1.5rem;
      }

      & .non-zero {
        color: var(--primary-color)
      }

      & .progress-line {
        --height: 4px;
        --thumb-size: 20px;
      }
    }

    & .tool-selected {
      background-color: var(--light-secondary-text-color);
    }
  }
}

.named-section {
  padding: 1.5rem 0.7rem;

  &-title {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    padding: 0 0 0.5rem 1.2rem;
  }
}
 